{
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "extends": ["plugin:@typescript-eslint/recommended", "eslint:recommended", "prettier", "plugin:node/recommended"],
  "plugins": ["prettier", "node", "@typescript-eslint"],
  "parser": "@typescript-eslint/parser",
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "project": "./tsconfig.json",
    "sourceType": "module"
  },
  "rules": {
    "node/no-unsupported-features/es-syntax": 0
  }
}
